In [3]:
import pandas as pd

In [4]:
file1 = pd.read_csv("..\\data\\matched_links.csv")
file1

,tajik_id,id,title,prob,link,tajik_link
0,1,26706,Flying Homay on the European Nights;Overview o...,0.406428,https://www.bbc.com/persian/arts/2012/11/12110...,https://www.bbc.com/tajik/news/2015/03/150331_...
1,1,33564,Iran in the past week;May 1nan,0.504243,https://www.bbc.com/persian/iran/2011/05/11051...,https://www.bbc.com/tajik/news/2015/03/150331_...
2,1,37125,Iran in the past week;May 1nan,0.504243,https://www.bbc.com/persian/iran/2010/04/10042...,https://www.bbc.com/tajik/news/2015/03/150331_...
3,1,37218,Iran in the past week;May 1nan,0.504243,https://www.bbc.com/persian/iran/2010/04/10042...,https://www.bbc.com/tajik/news/2015/03/150331_...
4,1,8915,International Crisis Group: Iran and P5+1 unde...,0.619521,https://www.bbc.com/persian/iran/2014/08/14082...,https://www.bbc.com/tajik/news/2015/03/150331_...
...,...,...,...,...,...,...
36558,12331,531,The trial of two French police on the unrest i...,0.585112,https://www.bbc.com/persian/world/2015/03/1503...,https://www.bbc.com/tajik/news/2009/09/090922_...
36559,12331,6171,French police warning about 'scary clowns'nan,0.547861,https://www.bbc.com/persian/world/2014/10/1410...,https://www.bbc.com/tajik/news/2009/09/090922_...
36560,12331,8508,French police attempt to prevent illegal migra...,0.678811,https://www.bbc.com/persian/world/2014/09/1409...,https://www.bbc.com/tajik/news/2009/09/090922_...
36561,12331,9473,French spy that wrote the story of the monkeysnan,0.492170,https://www.bbc.com/persian/arts/2014/08/14081...,https://www.bbc.com/tajik/news/2009/09/090922_...
36562,12332,39197,The good wise man diednan,0.530388,https://www.bbc.com/persian/iran/2009/11/09111...,https://www.bbc.com/tajik/news/2009/09/090922_...

In [5]:
file2 = pd.read_csv("..\\data\\tajik_titles_translated.csv", on_bad_lines='skip')
file2

      tajik_id                                        tajik_title
0        10859  A sustainable attack on Baghdy has gone more t...
1         1086  A group of group rapers was sentenced to the b...
2        10860                    Mavzuna took another gold medol
3        10861          Heruin's discovery in a permanent stomach
4        10863         Authorities of the officials for "Leaders"
...        ...                                                ...
9446     10850                     Heart hospital "for officials"
9447     10851  The case against parents to "indecute to child...
9448     10853     Three killed in the roads of the road in Kulob
9449     10855  An apology for anonymity of a man to a virus o...
9450      1394  Reduction of new tower for the guidance of fli...

[9451 rows x 2 columns]

In [6]:
combined = file1.merge(file2,
                       on= "tajik_id",
                       how=  'outer')
combined

,tajik_id,id,title,prob,link,tajik_link,tajik_title
0,1,26706.0,Flying Homay on the European Nights;Overview o...,0.406428,https://www.bbc.com/persian/arts/2012/11/12110...,https://www.bbc.com/tajik/news/2015/03/150331_...,Iran's atums and group 5 + 1 group: a day crum...
1,1,33564.0,Iran in the past week;May 1nan,0.504243,https://www.bbc.com/persian/iran/2011/05/11051...,https://www.bbc.com/tajik/news/2015/03/150331_...,Iran's atums and group 5 + 1 group: a day crum...
2,1,37125.0,Iran in the past week;May 1nan,0.504243,https://www.bbc.com/persian/iran/2010/04/10042...,https://www.bbc.com/tajik/news/2015/03/150331_...,Iran's atums and group 5 + 1 group: a day crum...
3,1,37218.0,Iran in the past week;May 1nan,0.504243,https://www.bbc.com/persian/iran/2010/04/10042...,https://www.bbc.com/tajik/news/2015/03/150331_...,Iran's atums and group 5 + 1 group: a day crum...
4,1,8915.0,International Crisis Group: Iran and P5+1 unde...,0.619521,https://www.bbc.com/persian/iran/2014/08/14082...,https://www.bbc.com/tajik/news/2015/03/150331_...,Iran's atums and group 5 + 1 group: a day crum...
...,...,...,...,...,...,...,...
39012,10800,NaN,NaN,NaN,NaN,NaN,Entrepreneurs of the Republic of Tajikistan
39013,10804,NaN,NaN,NaN,NaN,NaN,Obama brand from the population of the New Orlean
39014,10809,NaN,NaN,NaN,NaN,NaN,85 killed in the roads of the road in eight mo...
39015,10825,NaN,NaN,NaN,NaN,NaN,Included the diseases of the melceric diseases
39016,10832,NaN,NaN,NaN,NaN,NaN,Readyatory mode in Sughd