In [7]:
import pandas as pd
import pandas as ps
import re
from pandas import DataFrame

In [119]:
MATCHED_LINKS = 'matched_links.csv'
SIMPLE_MATCHED_LINKS = '../links/smpl_matched_links.csv'
PERSIAN_LINKS = '../links/beauty_links_persian.csv'
TAJIK_LINKS = '../links/beauty_links_tajik.csv'
SIMPLE_MATCHED_LINKS_EQUILE_YEAR = '../links/smpl_matched_links_equile_year.csv'

In [3]:
tajik_links = ps.read_csv(TAJIK_LINKS, delimiter=',', names=['id', 'link', 'etc'])
persian_links = ps.read_csv(PERSIAN_LINKS, delimiter=',', names=['id', 'link', 'etc'])
matched_links = DataFrame()

In [4]:
def safe_get_el(i, list: list, default_val=None):
    if len(list)- 1 < abs(i): return default_val
    return list[i]

# Функция для очистка данных
def clear_links(df: ps.DataFrame):
    local_df = df.drop('etc', axis=1).dropna()
    local_df['valid'] = local_df['link'].apply(lambda x: len(x.split('/')) == 8)
    local_df = local_df[local_df['valid'] == True]
    local_df = local_df.drop('valid', axis=1)
    local_df['link'] = local_df['link'].apply(lambda x: x.replace('.shtml', ''))
    local_df['title'] = local_df['link'].apply(lambda x: safe_get_el(-1, x.split('/')))
    local_df['month'] = local_df['link'].apply(lambda x: safe_get_el(-2, x.split('/')))
    local_df['year'] = local_df['link'].apply(lambda x: safe_get_el(-3, x.split('/')))
    local_df['tag'] = local_df['link'].apply(lambda x: safe_get_el(-4, x.split('/')))
    local_df['lang'] = local_df['link'].apply(lambda x: safe_get_el(-5, x.split('/')))

    return local_df

In [5]:
tajik_links = clear_links(tajik_links)
tajik_links

,id,link,title,month,year,tag,lang
0,0,https://www.bbc.com/tajik/news/2015/03/150331_...,150331_l16_bbc-tajik_closure,03,2015,news,tajik
1,1,https://www.bbc.com/tajik/news/2015/03/150331_...,150331_ea_iran_nuclear_talks_31_march,03,2015,news,tajik
2,2,https://www.bbc.com/tajik/news/2015/03/150330_...,150330_ea_iran_nuclear_talks_30_march,03,2015,news,tajik
3,3,https://www.bbc.com/tajik/news/2015/03/150329_...,150329_l16_singapore_founder_death_funeral,03,2015,news,tajik
4,4,https://www.bbc.com/tajik/news/2015/03/150329_...,150329_l16_france_local_elections_second_round,03,2015,news,tajik
...,...,...,...,...,...,...,...
12330,12330,https://www.bbc.com/tajik/news/2009/09/090922_...,090922_zkh_dfid_pressconference,09,2009,news,tajik
12331,12331,https://www.bbc.com/tajik/news/2009/09/090922_...,090922_rm_calais_migrants,09,2009,news,tajik
12332,12332,https://www.bbc.com/tajik/news/2009/09/090922_...,090922_mm_rudaki_day,09,2009,news,tajik
12333,12333,https://www.bbc.com/tajik/news/2009/09/090922_...,090922_zkh_qurganteppa,09,2009,news,tajik
12334,12334,https://www.bbc.com/tajik/news/2009/09/090921_...,090921_zkh_media_tojnews,09,2009,news,tajik

In [6]:
persian_links = clear_links(persian_links)
persian_links

,id,link,title,month,year,tag,lang
0,1,https://www.bbc.com/persian/iran/2015/03/15040...,150401_l51_nuclear_talks_lausanne_day7,03,2015,iran,persian
1,2,https://www.bbc.com/persian/iran/2015/03/15040...,150401_l51_nuclear_talks_lausanne_day7,03,2015,iran,persian
3,4,https://www.bbc.com/persian/world/2015/03/1503...,150331_u04_germanwinds_copilot,03,2015,world,persian
8,9,https://www.bbc.com/persian/iran/2015/03/15033...,150331_l45_erdogan_iran_visit,03,2015,iran,persian
10,11,https://www.bbc.com/persian/world/2015/03/1503...,150323_u04_iraniraq_pilgrims,03,2015,world,persian
...,...,...,...,...,...,...,...
40569,40579,https://www.bbc.com/persian/iran/2009/09/09090...,090901_he_mortazavi,09,2009,iran,persian
40570,40580,https://www.bbc.com/persian/iran/2009/09/09090...,090901_si_mb_press,09,2009,iran,persian
40571,40581,https://www.bbc.com/persian/science/2009/09/09...,090831_si_shuttle_iss,09,2009,science,persian
40572,40582,https://www.bbc.com/persian/sport/2009/09/0908...,090831_si_me_iranbahrain,09,2009,sport,persian
40573,40583,https://www.bbc.com/persian/iran/2009/08/09083...,090831_wkf-missingamerican-berkeley,08,2009,iran,persian

In [7]:
tajik_links

,id,link,title,month,year,tag,lang
0,0,https://www.bbc.com/tajik/news/2015/03/150331_...,150331_l16_bbc-tajik_closure,03,2015,news,tajik
1,1,https://www.bbc.com/tajik/news/2015/03/150331_...,150331_ea_iran_nuclear_talks_31_march,03,2015,news,tajik
2,2,https://www.bbc.com/tajik/news/2015/03/150330_...,150330_ea_iran_nuclear_talks_30_march,03,2015,news,tajik
3,3,https://www.bbc.com/tajik/news/2015/03/150329_...,150329_l16_singapore_founder_death_funeral,03,2015,news,tajik
4,4,https://www.bbc.com/tajik/news/2015/03/150329_...,150329_l16_france_local_elections_second_round,03,2015,news,tajik
...,...,...,...,...,...,...,...
12330,12330,https://www.bbc.com/tajik/news/2009/09/090922_...,090922_zkh_dfid_pressconference,09,2009,news,tajik
12331,12331,https://www.bbc.com/tajik/news/2009/09/090922_...,090922_rm_calais_migrants,09,2009,news,tajik
12332,12332,https://www.bbc.com/tajik/news/2009/09/090922_...,090922_mm_rudaki_day,09,2009,news,tajik
12333,12333,https://www.bbc.com/tajik/news/2009/09/090922_...,090922_zkh_qurganteppa,09,2009,news,tajik
12334,12334,https://www.bbc.com/tajik/news/2009/09/090921_...,090921_zkh_media_tojnews,09,2009,news,tajik

In [8]:
# Есть ли пустые строчки с пустыми значениями
tajik_links[tajik_links.isna().any(axis=1)]

Empty DataFrame
Columns: [id, link, title, month, year, tag, lang]
Index: []

In [9]:
persian_links[persian_links.isna().any(axis=1)]

Empty DataFrame
Columns: [id, link, title, month, year, tag, lang]
Index: []

In [10]:
tajik_links['tag'].unique()

array(['news', 'institutional', 'afghanistan', 'interactivity', 'arts',
       'world', 'tvandradio', 'iran', 'tv', 'science', 'learningenglish',
       'sport'], dtype=object)

In [11]:
persian_links['tag'].unique()

array(['iran', 'world', 'sport', 'arts', 'science', 'afghanistan',
       'tvandradio', 'blogs', 'interactivity', 'business',
       'learningenglish', 'tv', 'institutional', 'services', 'special',
       '', 'rolling_news', 'radio'], dtype=object)

In [12]:
# Засплитил по '_'
tajik_links['dirty'] = tajik_links['title'].apply(lambda x: x.split('_')[1])
tajik_links['dirty'].value_counts()

l16       2784
rm        2707
ea        1259
mm        1245
sq        1129
          ...
l16l31       1
biden        1
died         1
video        1
samoa        1
Name: dirty, Length: 242, dtype: int64

In [13]:
# Вытащил символы, которые начинались с l*цифра*
df_sep = tajik_links['dirty'].str.extract('(l\d+)')
seps = (set(df_sep.dropna()[0]))

# Вытащил символы, которые встречаются в ссылках > 10
df_other_sep = (tajik_links['dirty'].value_counts() > 10)
other_sep = set(df_other_sep[df_other_sep].index.values)

# Объединил
seps = seps.union(other_sep)

In [14]:
other_sep

{'16',
 'aa',
 'ak',
 'ea',
 'ez',
 'if',
 'l13',
 'l15',
 'l16',
 'l42',
 'l50',
 'l72',
 'l78',
 'l93',
 'mm',
 'og',
 'rh',
 'rln',
 'rm',
 'sq',
 'zkh',
 'zm'}

In [15]:
# Формирование строки с разделителями для re.split

temp = '|_'.join(seps)
temp = list(temp)
temp.append('_')
temp.insert(0,'_')
dirty_str_filter = ''.join(temp)
dirty_str_filter

'_og|_l55|_l95|_l31|_l50|_ea|_rh|_zkh|_l10|_l30|_l14|_ak|_aa|_l72|_l18|_zm|_l15|_l16|_l37|_if|_l168|_l13|_l41|_l03|_l01|_sq|_l38|_rm|_mm|_rln|_l93|_16|_l78|_l11|_ez|_l42|_l45|_l26_'

In [16]:
# Очистка ссылок, двойное удаление мусора с помощью реджекса
# (некоторые строки имеют несколько мусорных сочетаний в начале)

tajik_links['cleared_title'] = tajik_links['title']\
    .apply(lambda x: re.split(dirty_str_filter, x)[-1].strip('_'))\
    .apply(lambda x: re.split('(\d_)',x)[-1])

In [17]:
tajik_links['cleared_title']

0                          bbc-tajik_closure
1                                      march
2                                      march
3            singapore_founder_death_funeral
4        france_local_elections_second_round
                        ...
12330                   dfid_pressconference
12331                        calais_migrants
12332                             rudaki_day
12333                            qurganteppa
12334                          media_tojnews
Name: cleared_title, Length: 12316, dtype: object

In [18]:
# Сопоставление ссылок таджикских статей с персидскими
# по подстроке в названии персидской статьи
# (~2 минуты)

tajik_links['equals_persian_links'] = tajik_links['cleared_title']\
    .apply(lambda x: persian_links[persian_links['title'].str.contains(x)]['link'].to_list())

In [19]:
tajik_links['equals_persian_links_counts'] = tajik_links['equals_persian_links'].map(lambda x: len(x))

In [106]:
# Вывод
# Или «| (tajik_links[column] == 2)»

column = 'equals_persian_links_counts'
tajik_links[(tajik_links[column] == 1)].reset_index(drop=True).to_csv(SIMPLE_MATCHED_LINKS)

In [21]:
# TODO: Почему-то в тадижкских ссылках встречаются персидские, можно проверить есть ли они в персидском ДФ и добавить туда, если их там нет. 
# И соответственно удалить из таджикского ДФ все персидские

In [109]:
# линки, у которых совпадение 1
matched_links = tajik_links[(tajik_links[column] == 1)]

In [111]:
# Добавил в df matched_links колонку 'persian_year' год у персидской статьи
matched_links['persian_year'] = matched_links['equals_persian_links'].apply(lambda x: ''.join(x)).str.extract(r'(20\d{2})')

C:\Users\kasov\AppData\Local\Temp\ipykernel_12680\138927936.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matched_links['persian_year'] = matched_links['equals_persian_links'].apply(lambda x: ''.join(x)).str.extract(r'(20\d{2})')

In [120]:
# если года совпадают, то оставляем в df и в csv
matched_links = matched_links[matched_links['year'] == matched_links['persian_year']]
matched_links.reset_index(drop=True).to_csv(SIMPLE_MATCHED_LINKS_EQUILE_YEAR)